$primary-color:cornflowerblue;
$secondary-color: white;
$tertiary-color:#89abea;

$form-primary-color: gray;

$text-color: white;
$hover-color: lightgray;

$primary-font: Arial, Helvetica, sans-serif;


//alternative color scheme
// $primary-color: #c84949;
// $tertiary-color:#db6f6f;