// First Colors
$primary-color: cornflowerblue;
$secondary-color: white;

//Second Colors
// $primary-color: brown;
// $secondary-color: white;

// //Third Colors Darker
// $primary-color: #225775;
// $secondary-color: #1e1e1e;

// $primary-color: #2d436c;
// $secondary-color: #1e1e1e;

$text-color: white;