@import "config";
@import "utilities";

header{
    display: flex;
    height: 100px;
    background-color: $primary-color;
    justify-content: space-between;
    vertical-align: middle;
    >*{
        color: set-text-color($primary-color);
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 30px;
    }
    #UserText{
        display: inline-block;
        margin-left: 25px;
        color: set-text-color($primary-color);
        vertical-align:super;
    }
    #Icon{
        margin-left: 25px;
        color: set-text-color($primary-color);
        :hover{
            color: $hover-color;
        }
        
        >*{
            width: 45px;
            height: 45px;
        }
    }
}