@import "config";
@import "utilities";

header{
    display: flex;
    height: 100px;
    background-color: $primary-color;
    justify-content: space-between;
    vertical-align: middle;
    >*{
        color: set-text-color($primary-color);
        margin-top: 20px;
    }
    >h1{
        margin-left: 20px;
    }
    
    #NavIcons{

        margin-right: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    #UserText{
        font-weight: bold;
        margin-top: 20px;
        margin-left: 25px;
        color: set-text-color($primary-color);
    }
    #Icon{
        margin-left: 25px;
        color: set-text-color($primary-color);
        :hover{
            color: $hover-color;
        }
        
        >*{
            width: 45px;
            height: 45px;
        }
    }
}