@import "config";
@import "utilities";

#UserPanel{
    box-shadow:darkgray 10px 10px 10px;
    display: flex;
    background-color:$form-primary-color;
    @include horizontal-margin-center;
    margin-top: 150px;
    max-width:720px;
    min-height: 250px;
    >*{
        margin: 25px;
        color: set-text-color($form-primary-color);
      }
    h2{
        margin-bottom: 20px;
    }
    #Line{
        width: 1px;
        background-color: $secondary-color;
    }
    div>form{
        >:not(#Submit){
            margin-bottom: 20px;
            width: 100%;
            height: 30px;
        }
        >label{
            color: set-text-color($form-primary-color);
        }
        >input{
            padding-left: 5px;
            color: set-text-color($secondary-color);
        }
        
        #Submit{
            margin-left: 80%;
            border: none;
            width: 60px;
            height: 25px;
            padding: 0;
            :hover{
                background-color: $hover-color;
            }
        }
        #Submit:hover{
            background-color: $hover-color;
        }
      }
      @media screen and (max-width: 800px) {
        flex-direction: column;
        max-width: 320px;
        min-height: 600px;
        margin-top: 50px;
        #Line{
            height: 1px;
            width: auto;
            background-color: $secondary-color;
        }
    }
}


#IconButton{
    background-color: transparent;
    border: none;
    position:absolute;
    right: 10px;
    top:5px;
    color: set-text-color($primary-color);
    :hover{
        color: $hover-color;
    }
    >*{
        width: 30px;
        height: 30px;
    }

}