* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

header {
  display: flex;
  height: 100px;
  background-color: cornflowerblue;
  justify-content: space-between;
  vertical-align: middle;
}
header > * {
  color: white;
  margin-top: 20px;
}
header > h1 {
  margin-left: 20px;
}
header #NavIcons {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header #UserText {
  font-weight: bold;
  margin-top: 20px;
  margin-left: 25px;
  color: white;
}
header #Icon {
  margin-left: 25px;
  color: white;
}
header #Icon :hover {
  color: lightgray;
}
header #Icon > * {
  width: 45px;
  height: 45px;
}

#Categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 85vh;
  width: 100vw;
  padding-bottom: 50px;
}
#Categories #Category {
  box-shadow: gray 10px 10px 10px;
  color: white;
  margin-top: 35px;
  width: 400px;
  height: 550px;
  background-color: cornflowerblue;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 800px) {
  #Categories #Category {
    box-shadow: grey 0px 10px 10px;
  }
}
#Categories #Category > #Icon {
  position: absolute;
  right: 10px;
  top: 5px;
  color: white;
  vertical-align: sub;
}
#Categories #Category > #Icon :hover {
  color: lightgray;
}
#Categories #Category > #Icon > * {
  width: 30px;
  height: 30px;
}
#Categories #Category #EmptyMessage {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}
#Categories #Category #RecipeList {
  margin: 20px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 85%;
  justify-content: start;
  border-top: solid white;
  border-bottom: solid white;
}
#Categories #Category #RecipeList > a {
  text-decoration: none;
  color: white;
}
#Categories #Category #RecipeList > a :hover {
  filter: brightness(80%);
}
#Categories #Category #RecipeList #Recipe {
  overflow-y: hidden;
  width: 125px;
  height: 150px;
  padding: 10px;
  margin: 10px;
  margin-left: 20px;
  background-color: cornflowerblue;
  background-color: #89abea;
}
#Categories #Category #RecipeList #Recipe :hover {
  filter: none;
}
#Categories #Category #RecipeList #Recipe > img {
  width: 100px;
  height: 100px;
}

#UserPanel {
  box-shadow: darkgray 10px 10px 10px;
  display: flex;
  background-color: gray;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  max-width: 720px;
  min-height: 250px;
}
#UserPanel > * {
  margin: 25px;
  color: white;
}
#UserPanel h2 {
  margin-bottom: 20px;
}
#UserPanel #Line {
  width: 1px;
  background-color: white;
}
#UserPanel div > form > :not(#Submit) {
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
}
#UserPanel div > form > label {
  color: white;
}
#UserPanel div > form > input {
  padding-left: 5px;
  color: black;
}
#UserPanel div > form #Submit {
  margin-left: 80%;
  border: none;
  width: 60px;
  height: 25px;
  padding: 0;
}
#UserPanel div > form #Submit :hover {
  background-color: lightgray;
}
#UserPanel div > form #Submit:hover {
  background-color: lightgray;
}
@media screen and (max-width: 800px) {
  #UserPanel {
    flex-direction: column;
    max-width: 320px;
    min-height: 600px;
    margin-top: 50px;
  }
  #UserPanel #Line {
    height: 1px;
    width: auto;
    background-color: white;
  }
}

#ErrorMessage {
  color: rgb(255, 111, 111);
}

#IconButton {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 10px;
  top: 5px;
  color: white;
}
#IconButton :hover {
  color: lightgray;
}
#IconButton > * {
  width: 30px;
  height: 30px;
}

#RecipeInfo {
  box-shadow: gray 10px 10px 10px;
  position: relative;
  text-align: center;
  background-color: cornflowerblue;
  color: white;
  max-width: 600px;
  margin: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
#RecipeInfo > h2 {
  font-size: 2em;
  margin: 20px 65px;
}
#RecipeInfo > img {
  display: block;
  width: 300px;
  border: solid;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}
#RecipeInfo #Author {
  margin: 20px;
  font-weight: bold;
}
#RecipeInfo #Description {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
#RecipeInfo #List {
  display: table;
  margin: 20px;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}
#RecipeInfo #Step {
  text-align: center;
  margin: 25px;
}

.box {
  max-width: 700px;
  min-height: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  position: relative;
  background-color: gray;
  box-shadow: darkgray 10px 10px 10px;
}

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.6s ease-in-out;
}

.form-class {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  grid-column: 1/2;
  grid-row: 1/2;
  transition: opacity 0.2s 0.4s;
}

.add-recipe-btn {
  width: 100px;
  height: 43px;
  margin-left: auto;
  color: black;
  cursor: pointer;
  font-size: 0.8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: 0.3s;
  border: none;
}

.add-recipe-btn:hover {
  background-color: lightgray;
}

.add-recipe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.input-wrap > label {
  font-size: large;
}
.input-wrap .input-field {
  width: 100%;
  height: 30px;
  color: black;
}
.input-wrap .add-input {
  width: 100%;
  height: 30px;
  color: black;
}

.form-column {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 30px;
}

.input-field {
  height: 20px;
  width: 100%;
  outline: none;
  font-size: 15px;
  padding-left: 5px;
  transition: all 0.3s ease;
}

.short-desc {
  height: 70px;
  width: 100%;
  outline: none;
  font-size: 15px;
  padding-left: 5px;
  transition: all 0.3s ease;
}

.category-input {
  font-size: large;
}

.mult {
  margin-top: 5px;
  border-top: solid white;
  border-bottom: solid white;
  outline: none;
  font-size: x-large;
  padding-left: 5px;
  transition: all 0.3s ease;
  height: 150px;
  overflow-y: auto;
}
.mult > div > input {
  margin-left: 5px;
  width: 15px;
  height: 15px;
}

/* Add Ingredients and Direction CSS*/
.list-input-container {
  display: flex;
  flex-direction: row;
}

.list-list-item-container {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.add-input {
  padding-left: 5px;
  font-size: inherit;
  width: 100%;
  height: 30px;
  color: black;
}

.add-dir, .add-ing {
  display: flex;
}

.sub-ingredient-submit-btn {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 0.8rem;
}
.sub-ingredient-submit-btn > * {
  width: 20px;
  height: 20px;
}
.sub-ingredient-submit-btn :hover {
  color: lightgray;
}

.add-ingredient-list {
  margin-top: 10px;
  height: 80px;
  overflow-y: auto;
  color: white;
  border-top: solid white;
  border-bottom: solid white;
}

.add-ingredient-submit-btn, .add-direction-submit-btn {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 0.8rem;
}
.add-ingredient-submit-btn > *, .add-direction-submit-btn > * {
  width: 20px;
  height: 20px;
}
.add-ingredient-submit-btn :hover, .add-direction-submit-btn :hover {
  color: lightgray;
}

label {
  font-size: large;
}

@media screen and (max-width: 800px) {
  .box {
    width: 350px;
  }
  .form-class {
    flex-direction: column;
    max-width: 320px;
    min-height: 600px;
  }
}/*# sourceMappingURL=App.css.map */