@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color:rgb(125, 166, 21);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box {
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 840px;
    background-color: #fff;
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
  }
  
  .inner-box {
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .forms-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition:.6s ease-in-out; 
  }


form {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: opacity 0.2s 0.4s;
  }


  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 70px;
    margin-right: 0.3rem;
  }
  
  .logo h4 {
    font-size: 1.1rem;
    margin-top: -9px;
    letter-spacing: -0.5px;
    color: #151111;
  }
  
  .heading h2 {
    font-size: 2.1rem;
    font-weight: 600;
    color: #151111;
  }
  
  .heading h6 {
    color: #bababa;
    font-weight: 400;
    font-size: 0.75rem;
    display: inline;
  }
  
  .toggle {
    color: #894915;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 500;
    transition: 0.3s;
  }
  
  .toggle:hover {
    color: rgb(125, 166, 21);
  }
  
  .add-recipe-btn {
    width: 100%;
    height: 43px;
    background-color: #894915;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: 0.3s;
  }
  
  .add-recipe-btn:hover {
    background-color:rgb(125, 166, 21);
  }

  .text {
    color: #bbb;
    font-size: 0.7rem;
  }
  
  .text a {
    color: #bbb;
    transition: 0.3s;
  }
  
  .text a:hover {
    color: rgb(125, 166, 21);
  }

 .add-recipe-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

 .input-wrap{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: calc(100% / 2 20px)
}


.row{
    display: flex;
    flex-direction: row;
}
 .form-column{
    display: flex;
    flex:1;
    flex-direction: column;
    max-width: 300px;
    padding-left: 10px;
 }



 .ingredients{

    outline: none;
    font-size: 15px;
    border-radius: 7px ;
    padding-left: 5px;
    border: 1px solid #894915;
    border-bottom-width: 2px;
    transition: all 0.3s ease
}

 .input-field{
    height: 20px;
    width:100%;
    outline: none;
    font-size: 15px;
    border-radius: 7px ;
    padding-left: 5px;
    border: 1px solid #894915;
    border-bottom-width: 2px;
    transition: all 0.3s ease
}
 .short-desc{
    height: 70px;
    width:100%;
    outline: none;
    font-size: 15px;
    border-radius: 7px ;
    padding-left: 5px;
    border: 1px solid #894915;
    border-bottom-width: 2px;
    transition: all 0.3s ease
}

.tips{
    height: 70px;
    width:100%;
    outline: none;
    font-size: 15px;
    border-radius: 7px ;
    padding-left: 5px;
    border: 1px solid #894915;
    border-bottom-width: 2px;
    transition: all 0.3s ease
}

.directions{
    height: 70px;
    width:100%;
    outline: none;
    font-size: 15px;
    border-radius: 7px ;
    padding-left: 5px;
    border: 1px solid #894915;
    border-bottom-width: 2px;
    transition: all 0.3s ease
}

.mult, .diff{
    font-family: "Poppins", sans-serif;;
    outline: none;
    font-size: 15px;
    border-radius: 7px ;
    padding-left: 5px;
    border: 1px solid #894915;
    border-bottom-width: 2px;
    transition: all 0.3s ease
}

.custom_select h6{
    color: #151111;
}

/* Add Ingredients and Direction CSS*/

.add-input, #add-info{
  background: transparent;
  border: 0;
  outline: none;
  color: inherit;
  font-size: inherit;
  border-bottom: 2px solid currentColor;
  transition: border-bottom 150ms ease-in;
  
}

.add-dir , .add-ing {
  display: flex;
}


#addIBtn, #addDBtn {
  cursor: pointer;
  width: 12%;
  height: 20px;
  background-color: #894915;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;

}

.add-input:focus, #add-info:focus {
  border-bottom-width: 4px;
  border-color: #894915;
}

.add-info::placeholder {
  font-size: 12px;
}

.add-info:focus::placeholder{
  opacity: .3;
 
}

.addform ul, .addform ol { 
      height:200px; 
      width:300px;
      overflow:hidden; 
      overflow-y:scroll;
      border-radius: 7px ;
      padding-left: 5px;
      border: 1px solid #894915;
      border-bottom-width: 2px;
  }

@media (max-width: 530px) {
  main {
    padding: 1rem;
  }

  .box {
    border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1.2rem;
  }

  form {
    padding: 1rem 2rem 1.5rem;
  }
}